body {
  font-family: 'Open Sans', sans-serif !important;
  background: black;
  color: white;
}

a{
  color: rgb(226, 154, 19);
  text-decoration: none;
}

a:hover {
  color: rgb(134, 91, 11);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
  display: none;
}


section {
  padding: 50px 0;
  overflow: hidden;
}

.section-bg {
  background-color: rgb(19, 18, 18);
}